<section class="postinfo">
	<div class="post cf" ng-model="posts">
		<a href="#details/{{prevItem}}" class="btn btn-left">&lt;</a>
		<a href="#details/{{nextItem}}" class="btn btn-left">&gt;</a>
		<h1>{{posts[whichItem].postName}}</h1>
		<div class="info">
			<h3>{{posts[whichItem].subtitle}}</h3>
			<img ng-src="images/{{posts[whichItem].pictureName}}.jpg" alt="Photo of {{posts[whichItem].postName}}">
			<div class="bio">
				{{posts[whichItem].description}}
			</div>
		</div>
	</div>
	<a href="/secondTry_angular/#list">&laquo; Back to search</a>
</section>