<section class="featureBar">
	<div class="features">
		<img ng-src="images/banana_pancake.jpg">
		<img ng-src="images/matcha_chia.jpg">
		<img ng-src="images/chipotle_blackbean_bowl.jpg">
	</div>
</section>
<section class="postpage">
	<div class="search">
		<h1>Post Directory</h1>
		<label>search: </label>
		<input ng-model="query" placeholder="Search for posts" autofocus>
		<label class="formgroup">by:
			<select ng-model="postOrder">
				<option value="postName">Name</option>
				<option value="subtitle">Subtitle</option>
			</select>
		</label>

		<label class="formgroup">ascending
			<input type="radio" ng-model="direction" name="direction" checked>
		</label>
		<label class="formgroup">descending
			<input type="radio" ng-model="direction" name="direction" value="reverse">
		</label>

	</div>
	<ul class="postList">
		<li class="post cf" ng-repeat="item in posts | filter:query | orderBy:postOrder:direction">
			<a href="#/details/{{posts.indexOf(item)}}">
				<img ng-src="images/{{item.pictureName}}.jpg" alt="Photo of {{item.postName}}">
				<div class="info">
					<h2>{{item.postName}}</h2>
					<h4>{{item.subtitle}}</h4>
				</div>
			</a>
		</li>

	</ul>


</section>
